@tailwind base;
@tailwind components;
@tailwind utilities;



/* Add this to your global CSS file or a separate styles.css */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  

  .sent-message img {
    max-width: 200px; /* Set the maximum width of the image */
    max-height: 200px; /* Set the maximum height of the image */
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
    border-radius: 8px; /* Optional: for rounded corners */
  }
  